[Unit]
Description=The gunicorn sevice that runs dictionary.vamdc.eu
After=network.target

[Service]
PIDFile=/run/vamdc-dict/dict.pid
User=vamdc
Group=vamdc
WorkingDirectory=/opt/VamdcDictionary/
# the secret key is read from /opt/VamdcDictionary/secrets.txt by settings.py
ExecStart=/opt/VamdcDictionary/.venv/bin/gunicorn --pid /run/vamdc-dict/dict.pid --workers 3 --bind unix:/run/vamdc-dict/dict.socket wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
RuntimeDirectory=vamdc-dict

[Install]
WantedBy=multi-user.target
