{% extends "browse/index.html" %}
{% block content %}
<p>This is the VAMDC dictionary of keywords. Please see the <a href="http://vamdc.eu/documents/standards/">Standards documentation</a> for background information.</p>
<p>
<ul>
<li><a href="restrictables/">Restrictables</a> are the keywords that can be used in queries to VAMDC data nodes.</li>
<li><a href="requestables/">Requestables</a> can be used to limit the type of data that a query returns.</li>
<li><a href="returnables/">Returnables</a> are used internally by data nodes map data to the VAMDC data model.</li>
</ul>
</p>

{% endblock %}
{% block content2 %}{% endblock %}

