{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<link rel="stylesheet" type="text/css" href="{% static "css/indigo.css" %}" media="screen"/>
<title>{% block title %}VAMDC dictionary{% endblock %}</title>
{% block addheader %}{% endblock %}
</head>

<body>

<div class="container">

	<div class="header">
		<div class="title">
		  <a href="/"><img class="logo" src="{% static "img/vamdc-logo.png" %}" alt="VAMDC"/></a>
		  <h1><a href="/">The VAMDC dictionary</a></h1>
		</div>
		<div class="clearer"><span></span></div>
	</div>

	<div class="main">

		<div class="content">
		  {% block content %}
		  {% endblock %}
		  {% block content2 %}
		  {% endblock %}
		</div>

		<div class="sidenav">
		  {% block sidebar1 %}
			
			<h1>Dictionary</h1>
			<ul>
				<li><a href="/restrictables/">Restrictables</a></li>
                                <li><a href="/requestables/">Requestables</a></li>
				<li><a href="/returnables/">Returnables</a></li>
				<li><a href="/log/">Log</a></li>
				<li><a href="/check/">Check dictionaries</a></li>
				<li><a href="/new/">Select keywords</a></li>
    				<li><a href="/admin/">Edit main dictionary</a></li>
			</ul>
			<h1>Links</h1>
			<ul>
				<li><a href="http://www.vamdc.eu">VAMDC Homepage</a></li>
				<li><a href="http://www.astro.uu.se">Astronomy Uppsala</a></li>
				
			</ul>
			<p style="height: 400px;"></p>
			{% endblock %}
			{% block sidebar2 %}
			{% endblock %}
		</div>
	
		<div class="clearer"><span></span></div>

	</div>

</div>

</body>

</html>
