{% extends "dictionary/index.html" %}

{% block addheader %}
<script language="javascript">
  function toggleDiv(divid){
      if(document.getElementById(divid).style.display == 'none'){
         document.getElementById(divid).style.display = 'block';
  }else{
         document.getElementById(divid).style.display = 'none'
}}
</script>
{% endblock %}

{% block content %}

<p>Returnables</p>

{% for bloc in blocs %}
<h3>{{ bloc.desc }}</h3>
<div id="block{{ bloc.tag}}" style="display:none">
<p><a href="javascript:;" onmousedown="toggleDiv('block{{ bloc.tag }}');">Show/Hide</a></p>
<table>
<tr><th>Keyword</th><th>Short Description</th><th>Long Description</th><th>Type</th><th>*</th></tr>
{% for keyword in bloc %}
<tr class="{% cycle 'row1' 'row2' %}">
<td>{{ keyword.name }}</td>
<td>{{ keyword.sdescr }}</td>
<td>{{ keyword.ldescr }}</td>
<td>{% if keyword.type %}{{ keyword.get_type_display }}{% endif %}</td>
<td>{% if keyword.datatype %}*{% endif %}</td>
{% endfor %}
</table>
</div>
<p><a href="javascript:;" onmousedown="toggleDiv('block{{ bloc.tag }}');">Show/Hide</a></p>
{% endfor %}

{% endblock %}


{% block content2 %}

<p>
<a name="descr"></a>Description of the columns in the table above:
</p>

<ul>
<li><strong>Keyword</strong>: The actual name of the dictionary entry. These are what is used in the query language and when you fill Restrictables and Returnables.</li>
<li><strong>Short Description</strong>: Human-readable short text about the meaning. To be used e.g. as label text for a web-form</li>
<li><strong>Long Description</strong>: Human-readable longer text, to be used eg. in a help-box.</li>
<li><strong>Type</strong>: What type of data are associated with the keyword. choices are: string, float, integer, boolean.</li>

<li><strong>*</strong>: This column marks if a keyword corresponds to a
"DataType" in the XSAMS schema. If SomeKeyword is marked here, it means that
also the following keywords can be used
<ul>
<li>SomeKeywordUnit</li>
<li>SomeKeywordRef</li>
<li>SomeKeywordComment</li>
<li>SomeKeywordMethod</li>
<li>SomeKeywordAccuracy</li>
<li>SomeKeywordAccuracyConfidence</li>
<li>SomeKeywordAccuracyRelative</li>
<li>SomeKeywordAccuracyType</li>
<li>SomeKeywordEval</li>
<li>SomeKeywordEvalMethod</li>
<li>SomeKeywordEvalRecommended</li>
<li>SomeKeywordEvalRef</li>
<li>SomeKeywordEvalComment</li>
</ul> which for the sake of overview are not listed for each keyword above. Please refer to the schema documentation on how these are to be filled.</li>

</ul>
</p>
{% endblock %}
